name: Deploy.yml
on:
  push:
    branches:
      - [main]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses : actions/checkout@v4
        with:
          java-version: '25'
      - run: ./gradlew build
      - run: sudo systemctl restart myapp

